# Deep Learning Frameworks
tensorflow
torch
torchvision
keras
os
# Image Processing & Utils
pillow
opencv-python

# Data Science
numpy
matplotlib
scikit-learn
gdown

# App Framework
streamlit

