# Deep Learning Frameworks
tensorflow
torch
torchvision
keras
# Image Processing & Utils
pillow
opencv-python
fastai

# Data Science
numpy
matplotlib
scikit-learn
gdown

# App Framework
streamlit

